name: Publish to PyPI

on:
  push:
    tags:
      - "v*"
    branches:
      - main

jobs:
  publish_production:
    name: Publish to Production PyPI
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download all wheels
        uses: actions/download-artifact@v4
        with:
          path: cpp/place_io/dist/*.whl

      - name: Publish to Production PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PUB_TOKEN }}
        run: |
          pip install twine
          twine upload cpp/place_io/dist/*.whl --skip-existing

  publish_test:
    name: Publish to TestPyPI
    if: github.event_name == 'workflow_dispatch'  # Manual trigger for testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download all wheels
        uses: actions/download-artifact@v4
        with:
          path: cpp/place_io/dist/*.whl

      - name: Publish to TestPyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TEST_TOKEN }}
        run: |
          pip install twine
          twine upload --repository-url https://test.pypi.org/legacy/ cpp/place_io/dist/*.whl --skip-existing
